<!DOCTYPE html>
<html lang="es-ES">
{% load static %}
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <link rel="stylesheet" href="{% static 'css/styles_home_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_for_pdf_input.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_for_client_name.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Álvaro Cordero Fernández">
    <title>Legallens</title>
</head>



<body class="general-background">

{% if user.is_authenticated %}

    <header class="header">
        <div class="header-left">
            <button class="btn-logo flex" onclick="location.href='{% url 'home' %}'"><img style="max-height: 28px; max-width: 28px; padding: 0px 8px 0px 0px;" src="{% static 'img/legallens_icon.png' %}"/>  Legallens</button>
        </div>

        <div class="header-right user">
            <span class="avatar">{{ user.username|slice:":1" }}</span>
            <span class="user-name">{{ user.username }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn-log btn-log-primary">
                    <span>Logout</span>
                </button>
            </form>
        </div>
    </header>

    <div class="tabs">
        <button class="tab-btn " data-target="nuevo-doc">Nuevo documento</button>
        <button class="tab-btn active" data-target="docs-existentes">Documentos existentes</button>
    </div>



    <!-- ######  Nuevo documento  ###### -->
    <div id="nuevo-doc" class="tab-content">
        <h1 style="padding-left:20px">Nuevo documento</h1>


    <form method="POST" enctype="multipart/form-data" action="{% url 'subir_doc' %}">
        {% csrf_token %}    <!-- Este token va en el POST y DJango lo valida-->


        <div>
            <!-- ############  Nombre del Cliente  ############ -->
            <div style="padding: 40px 20px">
                <div class="input-nameUser-form">
                    <input class="input-nameUser" name="clientename" id="clientename" type="text" required>
                    <label for="clientename" class="textUser">Nombre del cliente</label>
                </div>
            </div>


            <!-- ############  Archivo PDF  ############ -->
            <div style="width: 200px;  align-items: center; display: flex; padding: 20px 34px">
                <div class="contedor-doc">
                    <div class="folder-doc">
                        <div class="front-side-doc">
                            <div class="tip-doc"></div>
                            <div class="cover-doc"></div>
                        </div>
                        <div class="back-side cover-doc"></div>
                    </div>
                    <label class="custom-file-upload">
                        <input class="title" type="file" required id="doc" name="doc" accept=".pdf" />
                        <span class="label-text">Sube un documento</span>
                        <span class="file-name"></span>
                    </label>
                </div>
            </div>
        </div>


        <!-- ############  Id del lawyer actual  ############ -->
        <input type="hidden" name="lawyer_id" value="{{ user.id }}">


        <!-- ############  Boton de envio  ############ -->
        <div  style="padding: 20px 49px">
            <button type="submit" class="btn-subir-doc" style="padding: 10px">
                <span class="btn__icon">
                    <svg stroke-linejoin="round" stroke-linecap="round" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" d="M0 0h24v24H0z" stroke="none"></path>
                        <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-1"></path>
                        <path d="M9 15l3 -3l3 3"></path>
                        <path d="M12 12l0 9"></path>
                    </svg>
                </span>
                <span class="btn__text">Subir documento</span>
            </button>
        </div>
    </form>



























    </div>





    <!-- ######  Documentos existentes  ###### -->
    <div id="docs-existentes" class="tab-content show">
        <h1 style="padding-left:20px">Documentos existentes</h1>

        {% for doc in documentos_legales %}
            <ul>

                <div class="carta {% if doc.completed %} carta-auditada {% else %} carta-sin-auditar {% endif %}">
                    <div class="carta-contenido">
                        <p class="encabezado">{{ doc.client_name }}</p>
                        <p class="contenido">{{ doc.created_at }}</p>
                        <p class="contenido">{{ doc.completed }}</p>
                        <p class="contenido">{{ doc.file }}</p>
                        <a href="{{ doc.file.url }}"><p class="contenido">{{ doc.file.url }}</p></a>
                    </div>
                </div>

            </ul>
        {% empty %}
            <p>No existen analisis sobre ningún documento aún.</p>
        {% endfor %}
    </div>




{% else %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %} <!-- Este token va en el POST y DJango lo valida-->
        <h2>Necesitas autenticarte primero</h2>
        <button class="btn-log btn-log-primary" type="submit">Login </button>
    </form>
{% endif %}


<script src="{% static 'js/scripts_home_dashboard.js' %}"></script>
</body>
</html>