<!DOCTYPE html>
<html lang="es-ES" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Álvaro Cordero Fernández">
    <title>TaskManager - Project Viewer</title>
</head>
<body style="background: #212121; color:#666666; font-size: 106px; font-family: consolas;">


<a href="{% url 'login' %}">  =(  </a>

</body>
</html>

