# --- POSTGRES ---
POSTGRES_DB=legallens_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# --- DJANGO ---
DJANGO_SECRET_KEY=django-insecure-@&phrp*k6eqp&^3&jft5-shczcp9z3p^r)fw956qq8z9q6a(pm
DJANGO_DEBUG=True

# --- FASTAPI ---
DATABASE_URI=postgres://admin:admin@db:5432/legallens_db
FASTAPI_OFFLINE=True

# --- DB ---
DB_HOST=db
DB_PORT=5432

# --- IA ---
# API_KEY de Google de Gemini
GOOGLE_API_KEY=
# API_KEY de Hugging Face (borra si nada)
HF_TOKEN=